<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GenericPOSRestService.RESTListener.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <GenericPOSRestService.RESTListener.Properties.Settings>
            <setting name="GenericInjectorConfigFileName" serializeAs="String">
                <value>c:\Acrelec\AcrBridgeService\GenericPOSInjectorConfig.xml</value>
            </setting>
            <setting name="ApiSettingsConfigFileName" serializeAs="String">
                <value>c:\Acrelec\AcrBridgeService\APISettingsConfig.xml</value>
            </setting>
        </GenericPOSRestService.RESTListener.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
